* {

    padding: 0;
    margin: 0;

    user-select: none;

    font-family: sans-serif;

    .glow {
        background-color: #d6d6d6;
    }

    .f_row{
        display: flex;
        flex-direction: row;
    }

    .f_col{
        display: flex;
        flex-direction: column;
    }

    vr {
        border-left: 1px solid #9a9a9a;
        height: 80%;
        width: 1px;
        display: inline-block;
        margin: 0 1px;
    }

    #action_box {
        width: 200px;
        height: fit-content;

        flex-direction: column;

        display: none;
        position: absolute;
        top: 0px;
        background-color: #d6d6d6;

        z-index: 1;

        transition: top 0.25s, left 0.1s;

        div {

            &:hover {

                background-color: hsl(188, 100%, 56%);
                cursor: pointer;

            }

        }

    }

}

html {

    body {

        header {

            height: 50px;

            justify-content: flex-start;
            align-items: center;

            text-align: center;
            
            z-index: 10;

            h1 {
                padding: 0.1em;
                
            }

            #header_top_bar_status {

                width: 15%;

                p {
                    font-style: italic;
                    font-size: small;

                    color: #555;
                    padding: 0 1%;

                    &:hover {
                        background-color: #bbb;
                        cursor: pointer;
                    }

                }

            }

            #header_top_bar_actions {

                height: 100%;

                flex-grow: 1;
                
                justify-content: flex-start;

                #header_top_bar_actions_select {

                    height: 50%;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    width: 100%;

                    p {

                        padding: 0 1%;

                        &:hover {
                            background-color: #bbb;
                            cursor: pointer;
                        }

                    }

                }

                #header_top_bar_actions_do {

                    height: 50%;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    width: 100%;

                    p {

                        padding: 0 1%;

                    }

                }
    
            }

        }

        main {

            display: flex;
            justify-content: center;
            align-items: center;

            height: calc(100vh - 100px);

        }

    }

}