* {
	padding: 0;
	margin: 0;

	user-select: none;

	font-family: sans-serif;

	transition: background-color 0.25s;

	.glow {
		background-color: #d6d6d6;
	}

	.f_row {
		display: flex;
		flex-direction: row;
	}

	.f_col {
		display: flex;
		flex-direction: column;
	}

	.clicked {
		background-color: #1fe1ff;
		border: solid 1px #000 !important;
	}

	vr {
		border-left: 1px solid #9a9a9a;
		height: 80%;
		width: 1px;
		display: inline-block;
		margin: 0 1px;
	}

	#action_box {
		padding: 5px;

		&.float {
			padding: 1em;

		}

		width: 150px;
		height: fit-content;

		display: flex;
		position: fixed;
		flex-direction: column;

		top: -100px;

		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;

		background-color: #d6d6d6;

		z-index: 9;

		transition: top 0.25s, left 0.1s;

		#input {
			padding: 5px;

			border: none;
			border-radius: 10px;
			outline: none;

			resize: none;
		}

		div {
			padding: 1px;

			border-radius: 5px;

			&.hr {
				background-color: #9a9a9a;
				padding: 0px;
				margin: 5px 0;
				height: 1px;
			}

			&.option_html::before {
				content: "· ";
			}

			&:hover:not(.hr) {
				background-color: hsl(188, 100%, 56%);
				cursor: pointer;
			}
		}
	}

	#overlay {
		width: 100vw;
		height: 100vh;

		position: fixed;
		display: none;
		top: 50px;

		background-color: #0005;

		opacity: 0;

		z-index: 8;

		transition: opacity 0.1s;

	}
}

html {
	body {
		header {
			position: fixed;

			height: 50px;
			width: 100vw;

			justify-content: flex-start;
			align-items: center;

			text-align: center;

			z-index: 10;

			h1 {
				padding: 0.1em;
			}

			#header_top_bar_status {

				min-width: 10%;

				margin: 0 0.1em;
				padding: 0 0.1em;

				align-items: center;

				transition: width 0.2s;

				p {

					min-width: 100%;

					margin: 0 0.1em;
					padding: 0 0.1em;

					font-style: italic;
					font-size: small;

					color: #555;

					border-radius: 5px;

					&:hover {
						background-color: #bbb;
						cursor: pointer;
					}
				}
			}

			#header_top_bar_actions {
				height: 100%;

				flex-grow: 1;

				justify-content: flex-start;

				#header_top_bar_actions_select {
					height: 50%;

					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;

					min-width: 100%;

					p {
						padding: 0 0.25em;

						border-radius: 5px;

						&#dev_menu {
							display: none;

							background-color: #ff77;
						}

						&:hover {
							background-color: #bbb;
							cursor: pointer;
						}
					}
				}

				#header_top_bar_actions_do {
					height: 50%;

					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;

					width: 100%;

					div {
						padding: 0 0.5%;

						border-radius: 5px;

						&:hover {
							background-color: #1fe1ff;
							cursor: pointer;
						}

						&.document_toggle {
							border: solid 1px #0000;
						}

						&#action_setcolorfont,
						&#action_setcolorback {
							display: flex;
							flex-direction: row;
							align-items: center;

							p {
								flex-basis: 105%;
							}
						}

						&#action_setcolorfont_box {
							margin: 0 2px;

							height: 12px;
							width: 12px;

							background-color: #000;

							border: solid 1px #555;

							border-radius: 0px;
						}

						&#action_setcolorback_box {
							margin: 0 2px;

							height: 12px;
							width: 12px;

							background-color: #0000;

							border: solid 1px #555;

							border-radius: 0px;
						}
					}
				}
			}
		}

		main {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 100vh;

			padding: 100px 0 50px 0;

			z-index: 1;

			#sheet {
				padding: 1em;

				top: 100px;

				width: 50%;
				height: 100%;

				border: solid 1px #000;
				outline: none;

				resize: none;
			}
		}
	}
}
